configuration {
  modi: "combi,run,drun";
  lines: 10;
  columns: 2;
  show-icons: true;
  kb-accept-entry: "Control+m,Return,KP_Enter";
  kb-remove-to-eol: "";
  kb-row-up: "Control+k";
  kb-row-down: "Control+j";
}

element-icon {
  size:4.0ch;
}
